.color1{
    background: #414141;
	color:#fff;
}
.color2{
    background: rgb(187, 187, 187);
	color:rgb(187, 187, 187);
}
.color3{
    background: #e48c8c;
	color:rgb(0, 0, 0);
}
footer {
	background:#0c6856;
	color:#fff;
}
