*{
    font-family: 'Fraunces', serif;
    color: #fff;

}
body{
    margin: 0;
    background-color: #543a6d ;

}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.calculadora{
    display: grid;
    grid-template-columns: repeat(4,75px);
    grid-template-rows: 160px repeat(5,75px);
    background-color: rgb(175, 25, 25);
    padding: 15px;
    border-radius: 32px;
    box-shadow: 15px 10px 0px 5px #00000033;
}
button{
    cursor: pointer;
    margin: 5px;
    padding: 0px;
    border-radius: 32px;
    font-size: 1.5em;
    border: none;
    background-color:  rgb(175, 25, 25) ;
}